<body><script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=mXQnfinSAUa8wZCb5GUfigPBoFFd3CcN25tUoaFXJfxyNI7uCpOSpcufoh8PKTbeGoUbg0Nye73-5lTY43BlBJjaCnbCZzYUgihEz9jeIWcdIWsTM84z0v16ZuBomV6y7O6Ave1EDS-iLSf6j8b2Fw" charset="UTF-8"></script>
    <section class="notFound">
        <div class="img">
        <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
        <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
        </div>
        <div class="text">
        <h1>404</h1>
        <h2>PAGE NOT FOUND</h2>
        <h3>BACK TO HOME?</h3>
        <a href="/" class="yes">YES</a>
        <a href="https://www.youtube.com/watch?v=G3AfIvJBcGo">NO</a>
        </div>
    </section>
</body>